:root {
    --bg-col: #f1f5fd;
    --main-col: rgb(252, 191, 24);
    --tomato-col: #FC5130;
    --danger-col: red;
    --sucess-col: rgb(0, 255, 0);
    --wht-col: #fff;
    --txt-col: rgba(0, 0, 0, 0.7);
    --shd-col: rgba(0, 0, 0, 0.25);
    --font-fam-1: "acorn", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --font-fam-2: cursive;
}

/* -----------------------Navbar Component------------------------ */

.navbar-section {
    position: sticky;
    top: 0;
    color: var(--wht-col);
    background-color: var(--main-col);
    overflow: hidden;
    z-index: 99;
}

.navbar-section .navbar-brand {
    color: #fff;
    font-family: var(--font-fam-2);
    font-size: 1.7rem;
    font-weight: 700;
}

.navbar-section .nav-item .nav-link {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

@media(max-width:992px) {
    .nav-content-media {
        width: 100%;
        position: fixed;
        top: 66.79px;
        z-index: 990;
        background-color: var(--bg-col);
    }

    .navbar-section .nav-item .nav-link {
        color: var(--main-col);
    }
}

/*---------------------------------Gkeep hero section starts------------------------- */

.main-gkeep-section {
    overflow: hidden;
    background-color: var(--bg-col);
    min-height: 100vh;
}

/* first div */
.gkeeep-firstdiv {
    background-color: rgb(252, 191, 24);
}

.main-gkeep-section h2 {
    padding: 1rem 1rem;
    color: #fff;
}

/* secoond div */

.gkeep-seconddiv {
    margin-top: 3rem;
}

.gkeep-centerdiv {
    border-radius: 1rem;
    padding: 0;
    background-color: var(--wht-col);
    box-shadow: 0.1rem 0.2rem 0.3rem rgba(0, 0, 0, 0.20);
}

.gkeep-main-heading {
    width: 100%;
    height: 10vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--wht-col1);
    background-color: var(--main-col);
}

.gkeep-for-padd {
    padding: 1rem 2rem;
}

.gkeep-input-title {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--main-col);
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 0.1rem 0.8rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--txt-col);
    text-transform: capitalize;
}

.gkeep-input-body {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--main-col);
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 0.1rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--txt-col);
    text-transform: capitalize;
    min-height: 10vh;
}

.gkeep-input-title:focus,
.gkeep-input-body:focus {
    border-bottom: 4px solid var(--main-col);
}

.gkeep-btn-div {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    margin-bottom: -3rem;
    padding: 0;
}

.gkeep-input-btn {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgb(252, 191, 24);
    font-size: 1.5rem;
    font-weight: 600;
    display: grid;
    place-items: center;
    transform: rotateZ(45deg);
    margin: 0.5rem;
    color: var(--wht-col);
    border: 0.1rem solid var(--bg-col);
    box-shadow: 0.2rem 0.1rem 0.3rem var(--shd-col);
}

.gkeep-btn-div .gkeep-input-btn .gkeep-btn-indiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateZ(-45deg);
}

/* third div */

.gkeep-thirddiv {
    margin: 3rem 0;
}

.gkeep-thirddiv .gkeep-centerdiv {
    padding: 1rem;
}

.gkeep-thirddiv .gkeep-centerdiv h2 {
    color: var(--txt-col);
    text-transform: capitalize;
    opacity: 0.9;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 5vh;
    border-bottom: 0.2rem solid var(--main-col);
}

.gkeep-thirddiv .gkeep-centerdiv p {
    color: var(--txt-col);
    text-transform: capitalize;
    padding: 0 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 5vh;
}

.gkeep-thirddiv .gkeep-centerdiv .gkeep-btn-div {
    margin: 0 !important;
    width: 3rem;
    height: 3rem;
    margin-right: 0.8rem;
    margin-bottom: -4rem;
    padding: 0;
}

.gkeep-thirddiv .gkeep-centerdiv .gkeep-btn-div .gkeep-input-btn {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background-color: rgb(252, 191, 24);
    font-size: 1.2rem;
    font-weight: 600;
    display: grid;
    place-items: center;
    margin: 0.5rem;
    color: var(--wht-col);
    /* transform: rotateZ(45deg); */
    border: 0.1rem solid var(--bg-col);
    box-shadow: 0.2rem 0.1rem 0.3rem var(--shd-col);
}

.gkeep-thirddiv .gkeep-centerdiv .gkeep-btn-div .gkeep-input-btn .gkeep-btn-indiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------------------------------contact Component start---------------------------- */

.contact-section {
    min-height: 90vh;
    background-color: var(--bg-col);
}

.contact-left-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.contact-heading-margin {
    margin-top: 3rem;
}

.contact-tagline {
    font-size: 1.3rem;
    font-family: var(--font-fam-2);
    font-weight: 300;
}

.contact-main-control {
    display: flex;
    margin-bottom: 10rem;
}

.contact-width-control1 {
    width: 100%;
}

.contact-width-control2 {
    width: 90%;
}

.contact-iconfont {
    font-size: 1.75rem;
    display: grid;
    place-items: center;
}

.contact-icon-div2 {
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    background-color: #fff;
    border-radius: 0.4rem;
    cursor: pointer;
    color: var(--main-col);
}

.contact-icon-div3 {
    width: 100%;
    font-size: 2rem;
    display: flex;
    color: var(--tomato-col) !important;
    justify-content: space-between;
}

.contact-icons-shape {
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--wht-col);
}

.contact-icons-shape a {
    max-width: 40px;
    max-height: 40px;
    color: var(--main-col);

}

.contact-transform {
    transform: translateY(-5px);
}

.contact-mail {
    color: var(--main-col);
    cursor: pointer;
    font-weight: 600;
}

.input-fields {
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    padding-left: 1rem;
    margin-top: 3rem;
    background-color: #fff;
    border-radius: 0.4rem;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.1rem solid rgb(65, 83, 56, calc(1* 1));
    transition: all 0.2s ease-in;
}

.input-fields:focus {
    border-bottom: 0.24rem solid rgb(65, 83, 56, calc(1* 1))
}

.textarea-my {
    min-height: 8rem;
}

.contact-submit-btn {
    border-radius: 0.4rem;
    height: 3rem;
    margin-top: 3rem;
    margin-bottom: 10rem;
    text-transform: capitalize;
    color: #fff;
    border: 0.1rem solid var(--main-col);
    background-color: var(--main-col);
}

.contact-submit-btn:hover {
    border: 0.1rem solid var(--bg-col);
}

@media(max-width:992px) {

    .contact-left-div {
        text-align: center;
        justify-content: center;
        align-items: flex-start;
        position: static;
    }

    .contact-main-h1 {
        text-align: center;
    }

    .contact-main-control {
        justify-content: center;
        margin-bottom: 3rem;
    }

    .contact-width-control1 {
        width: 50%;
    }

    .contact-width-control2 {
        width: 50%;
    }

    .contact-submit-btn {
        margin-bottom: 6rem;
    }
}

@media(min-width:1200px) {
    .contact-section {
        min-height: 70vh;
    }
}

/*-------------------------------------- footer section----------------------------------- */

footer {
    min-height: 20vh;
    color: #fff;
    background-color: #182334;
    margin-bottom: 0;
    overflow: hidden;
}

.footer-section {
    min-height: 20vh;
    color: #fff;
    background-color: #182334;
    margin-top: 0;
    margin-bottom: 0;
}

.para-span {
    color: var(--main-col);
    font-family: var(--font-fam-2);
    font-weight: 600;
}

.footer-hr {
    opacity: 1 !important;
    color: #fff !important;
}

.footer-icon-maindiv {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
}

.footer-icons {
    font-size: 1.5rem;
    margin: 2rem 0;
    cursor: pointer;
}

.footer-icons a {
    color: var(--main-col);
}

@keyframes rotatefont {
    0% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(1.2);
    }
}

.footer-icons:hover {
    transition: all 1s;
    animation: rotatefont 1s linear infinite alternate-reverse;
    color: #fff;
}

.footer-copyrightdiv {
    height: 8vh;
}

.footer-copyright {
    /* font-size: 1.3rem; */
    /* font-family: var(--font-fam-2); */
    font-weight: 300;
}

/* ------------------------Error Component------------------ */

.error-main-section {
    height: 80vh;
    background-color: var(--bg-col);
    overflow: hidden;
}

.error-centerdiv {
    background-color: var(--wht-col);
    border-radius: 1rem;
}

.error-centerdiv h1 {
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-fam-1);
    font-weight: 500;
}

.error-centerdiv h2 {
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-fam-1);
    font-weight: 700;

}

.error-centerdiv p {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-fam-2);
    font-weight: 400;

}

.error-go-home-btn {
    width: 40%;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
    color: #fff;
    border: 0.1rem solid var(--main-col);
    background-color: var(--main-col);
    border-radius: 4rem;
}

.error-go-home-btn:hover {
    border: 0.1rem solid var(--bg-col);
}