:root {
    --bg-col2: #f1f5fd;
    --heading-back-col2: rgb(252, 191, 24);
    --danger-col2: red;
    --sucess-col2: rgb(0, 255, 0);
    --voi-col2: #8566aa;
    --bluish-col2: #6983aa;
    --wht-col2: #fff;
    --txt-col2: rgba(0, 0, 0, 0.7);
    --shd-col2: rgba(0, 0, 0, 0.25);
}

/*---------------------------------Gkeep hero section starts------------------------- */

.main-gkeep-section {
    overflow: hidden;
    background-color: var(--bg-col2);
    min-height: 100vh;
}

/* first div */
.gkeeep-firstdiv {
    background-color: rgb(252, 191, 24);
}

.main-gkeep-section h2 {
    padding: 1rem 1rem;
    color: #fff;
}

/* secoond div */

.gkeep-seconddiv {
    margin-top: 3rem;
}

.gkeep-centerdiv {
    border-radius: 1rem;
    padding: 0;
    background-color: var(--wht-col2);
    box-shadow: 0.1rem 0.2rem 0.3rem rgba(0, 0, 0, 0.20);
}

.gkeep-main-heading {
    width: 100%;
    height: 10vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--wht-col1);
    background-color: var(--heading-back-col2);
}

.gkeep-for-padd {
    padding: 1rem 2rem;
}

.gkeep-input-title {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--heading-back-col2);
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 0.1rem 0.8rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--txt-col2);
    text-transform: capitalize;
}

.gkeep-input-body {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--heading-back-col2);
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 0.1rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--txt-col2);
    text-transform: capitalize;
    min-height: 10vh;
}

.gkeep-input-title:focus,
.gkeep-input-body:focus {
    border-bottom: 4px solid var(--heading-back-col2);
}

.gkeep-btn-div {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    margin-bottom: -3rem;
    padding: 0;
}

.gkeep-input-btn {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgb(252, 191, 24);
    font-size: 1.5rem;
    font-weight: 600;
    display: grid;
    place-items: center;
    transform: rotateZ(45deg);
    margin: 0.5rem;
    color: var(--wht-col2);
    border: 0.1rem solid var(--bg-col2);
    box-shadow: 0.2rem 0.1rem 0.3rem var(--shd-col2);
}

.gkeep-btn-div .gkeep-input-btn .gkeep-btn-indiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateZ(-45deg);
}

/* third div */

.gkeep-thirddiv {
    margin: 3rem 0;
}

.gkeep-thirddiv .gkeep-centerdiv {
    padding: 1rem;
}

.gkeep-thirddiv .gkeep-centerdiv h2 {
    color: var(--txt-col2);
    text-transform: capitalize;
    opacity: 0.9;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 5vh;
    border-bottom: 0.2rem solid var(--heading-back-col2);
}

.gkeep-thirddiv .gkeep-centerdiv p {
    color: var(--txt-col2);
    text-transform: capitalize;
    padding: 0 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 5vh;
}

.gkeep-thirddiv .gkeep-centerdiv .gkeep-btn-div {
    margin: 0 !important;
    width: 3rem;
    height: 3rem;
    margin-right: 0.8rem;
    margin-bottom: -4rem;
    padding: 0;
}

.gkeep-thirddiv .gkeep-centerdiv .gkeep-btn-div .gkeep-input-btn {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background-color: rgb(252, 191, 24);
    font-size: 1.2rem;
    font-weight: 600;
    display: grid;
    place-items: center;
    margin: 0.5rem;
    color: var(--wht-col2);
    /* transform: rotateZ(45deg); */
    border: 0.1rem solid var(--bg-col2);
    box-shadow: 0.2rem 0.1rem 0.3rem var(--shd-col2);
}

.gkeep-thirddiv .gkeep-centerdiv .gkeep-btn-div .gkeep-input-btn .gkeep-btn-indiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}